@charset "utf-8";

/* CSS Document */

.block .content td .block-assignments-overview-activity-meta-container span.block-assignments-overview-activity-due-date a {
    color: #fff;
}

.block-assignments-overview-activity-meta-container .row {
    padding: 3px 0 1px 0;
    margin: 0;
}

.block-assignments-overview-activity-meta-container .col4,
.block-assignments-overview-activity-meta-container .span5 {
    display: flex;
    align-items: center;
    margin-left: 10px;
}


span.block-assignments-overview-activity-due-date {
    background-color: #555;
    color: #fff;
    padding: 7px;
    margin: 0 10px 0 0;
    line-height: 3em;
    border-radius: 0.5em;
    font-size: 0.9em;
    font-weight: 500;
    white-space: nowrap;
}

.block .content span.block-assignments-overview-activity-due-date a {
    color: #fff;
}

span.block-assignments-overview-activity-date-overdue {
    background-color: #e00;
}

span.block-assignments-overview-activity-date-submitted {
    background-color: #0c0;
}

span.block-assignments-overview-activity-date-nearly-due {
    background-color: #f79100;
}

.block-assignments-overview-table {
    width: 100%;
}

.block-assignments-overview-table thead,
.block-assignments-overview-table tbody {
    display: block;
}

.block-assignments-overview-table th.header.c0 {
    width: 5%;
}

.block-assignments-overview-table th.header.c1 {
    width: 14%;
    text-align: left;
}

.block-assignments-overview-table th.header.c2 {
    width: 30%;
}

.block-assignments-overview-table td.cell.c0 {
    width: 8%;
    max-width: 100px;
}

.block-assignments-overview-table td.cell.c1 {
    width: 24%;
}

.block-assignments-overview-table td.cell.c2 {
    width: 30%;
}

.img.block-assignments-overview-table-new-activity {
    width: 24px;
    height: 24px;
    padding: 0 4px 0 0;
}

.block-assignments-overview-new-activity {
    margin-right: 4px;
}

/* For course title. */
.block-assignments-overview-table-new-activity h3 {
    margin: 0 0 20px;
}

.block-assignments-overview-row {
    padding: 5px 0;
    border-bottom: 1px #eee solid;
    margin: 5px 0;
}

.block-assignments-overview-container {
    display: none;
}

.block-assignments-overview-container-scrollable {
    min-height: 220px;
    max-height: 400px;
    overflow-y: auto;
    padding: 0 12px 5px 0;
}

.block .content .block-assignments-overview-container a.block-assignments-overview-assignment-link {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 12px;
    font-size: 0.9em;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    background-color: #aab;
    -webkit-transition: all 0.2s ease 0s; /* Safari */
    transition: all 0.2s ease 0s;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 500;
}

.block-assignments-overview-assignment-title,
.block-assignments-overview-assignment-title a {
    font-size: 1.1em;
    font-weight: 800;
}
