{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_assignment_overview/assignments-filter-selector

    This template renders the main filter dropdown.

    Example context (json):
    {
        "assignmentsdue": true,
        "pastassignmentssubmitted": false,
        "pastassignmentsnotsubmitted": false
    }
}}
<div class="dropdown m-y-1 mr-auto">
    <button id="assignmentsfilterdropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" 
    aria-label="{{#str}} aria:assignmentfilterdropdown, block_assignment_overview {{/str}}">
        {{#pix}} i/filter {{/pix}}
        <span class="d-sm-inline-block" data-active-item-text>
            {{#assignmentsdue}}{{#str}} assignmentsduetitle, block_assignment_overview {{/str}}{{/assignmentsdue}}
            {{#pastassignmentssubmitted}}{{#str}} pastassignmentssubmittedtitle, block_assignment_overview {{/str}}{{/pastassignmentssubmitted}}
            {{#pastassignmentsnotsubmitted}}{{#str}} pastassignmentsnotsubmittedtitle, block_assignment_overview {{/str}}{{/pastassignmentsnotsubmitted}}
            {{#assignmentsnoduedate}}{{#str}} assignmentsnoduedatetitle, block_assignment_overview {{/str}}{{/assignmentsnoduedate}}
            {{#assignmentsall}}{{#str}} assignmentsalltitle, block_assignment_overview {{/str}}{{/assignmentsall}}
        </span>
    </button>
    <ul class="dropdown-menu" data-show-active-item data-active-item-text aria-labelledby="assignmentsfilterdropdown">
        <li>
            <a class="dropdown-item {{#assignmentsdue}}active{{/assignmentsdue}}" href="#" data-filter="assignmentsfilter" 
            data-value="assignmentsdue" 
            data-pref="assignmentsdue" aria-label="{{#str}} assignmentsduetitle,
             block_assignment_overview {{/str}}" aria-controls="assignment-filter-{{uniqid}}">
                {{#str}} assignmentsduetitle, block_assignment_overview {{/str}}
            </a>
        </li>
        <li>
            <a class="dropdown-item {{#pastassignmentssubmitted}}active{{/pastassignmentssubmitted}}" href="#" data-filter="assignmentsfilter" data-value="pastassignmentssubmitted" 
            data-pref="pastassignmentssubmitted" aria-label="{{#str}} pastassignmentssubmittedtitle, block_assignment_overview {{/str}}" aria-controls="assignment-filter-{{uniqid}}">
                {{#str}} pastassignmentssubmittedtitle, block_assignment_overview {{/str}}
            </a>
        </li>
        <li>
            <a class="dropdown-item {{#pastassignmentsnotsubmitted}}active{{/pastassignmentsnotsubmitted}}" href="#" data-filter="assignmentsfilter" data-value="pastassignmentsnotsubmitted"
            data-pref="pastassignmentsnotsubmitted" aria-label="{{#str}} pastassignmentsnotsubmittedtitle, block_assignment_overview {{/str}}" aria-controls="assignment-filter-{{uniqid}}">
                {{#str}} pastassignmentsnotsubmittedtitle, block_assignment_overview {{/str}}
            </a>
        </li>
        <li>
            <a class="dropdown-item {{#assignmentsnoduedate}}active{{/assignmentsnoduedate}}" href="#" data-filter="assignmentsfilter" data-value="assignmentsnoduedate"
            data-pref="assignmentsnoduedate" aria-label="{{#str}} assignmentsnoduedatetitle, block_assignment_overview {{/str}}" aria-controls="assignment-filter-{{uniqid}}">
                {{#str}} assignmentsnoduedatetitle, block_assignment_overview {{/str}}
            </a>
        </li>
        <li>
            <a class="dropdown-item {{#assignmentsall}}active{{/assignmentsall}}" href="#" data-filter="assignmentsfilter" data-value="assignmentsall"
            data-pref="assignmentsall" aria-label="{{#str}} assignmentsalltitle, block_assignment_overview {{/str}}" aria-controls="assignment-filter-{{uniqid}}">
                {{#str}} assignmentsalltitle, block_assignment_overview {{/str}}
            </a>
        </li>
    </ul>
</div>
