{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_assignment_overview/assignments

    This template renders a given list of assignments.

    Example context (json):
    {
        "uniqid": 1243,
        "preference" : [
            {
                "assignmentsdue": true,
                "pastassignmentssubmitted": false,
                "pastassignmentsnotsubmitted": false,
                "assignmentsnoduedate": false }
        ],
        "data" : [
            {   "id": "assignmentsdue",
                "title": "Assignments Due",
                "assignments": [
                    { "name" : "Assignment 2",
                    "formattedstatus": "Due date status in HTML format",
                    "formattedfurtherinfo": "Contains HTML-formatted further information",
                    "url": "mod/assign/view.php?id=2",
                    "coursename": "Course name" },
                    { "name" : "Assignment 2",
                    "formattedstatus": "Due date status in HTML format",
                    "formattedfurtherinfo": "Contains HTML-formatted further information",
                    "url": "mod/assign/view.php?id=2",
                    "coursename": "Course name" }
                ]
            },
            {   "id": "pastassignmentssubmitted",
                "title": "Assignments submitted",
                "assignments": [
                    { "name" : "Assignment 3",
                    "formattedstatus": "Due date status in HTML format",
                    "formattedfurtherinfo": "Contains HTML-formatted further information",
                    "url": "mod/assign/view.php?id=2",
                    "coursename": "Course name" },
                    { "name" : "Assignment 4",
                    "formattedstatus": "Due date status in HTML format",
                    "formattedfurtherinfo": "Contains HTML-formatted further information",
                    "url": "mod/assign/view.php?id=2",
                    "coursename": "Course name" }
                ]
            }
        ]
    }
}}
{{#title}}
<h3>{{title}}</h3>
{{/title}}
<div id="{{uniqid}}" class="block-assignments-overview block-cards" data-region="assignments-overview" role="navigation">

            <div data-region="filter" class="d-flex align-items-center flex-wrap" aria-label="{{#str}} aria:controls, block_assignment_overview {{/str}}">
                {{#preference}}
                {{> block_assignment_overview/assignments-filter-selector }}
                {{/preference}}
            </div>

{{#data}}
<div id="{{id}}" class="container {{class}} {{#scrollable}}block-assignments-overview-container-scrollable{{/scrollable}} block-assignments-overview-container">
    {{#emptytext}}
        <div class="text-center"><h4>{{{emptytext}}}</h4></div>
    {{/emptytext}}

    {{#assignments}}
    <div class="row block-assignments-overview-row">
        <div class="col-lg-4 my-md-auto my-1">
            <span class="block-assignments-overview-assignment-title">
                <a href="{{url}}" title="View {{name}}">{{name}}</a>
            </span><br>
            ({{coursename}})
        </div>

        <div class="col-lg-3 my-md-auto my-1">
                {{{formattedstatus}}}
        </div>

        <div class="col-lg-2 my-auto my-1">
                {{{formattedfurtherinfo}}}
        </div>
        
        <div class="col-lg-2 my-auto py-2 my-2">
                <a class="block-assignments-overview-assignment-link py-2" href="{{url}}" title="View {{name}}">View Assignment</a>
        </div>
    </div>
    {{/assignments}}
</div>
{{/data}}

</div>
